html {
  /* https://materialpalettes.com/ */
  --color-pr: #4fc2f7;
  --color-co: #f8946a;
  --color-a1: #29f6d0;
  --color-a2: #7788fc;
  --color-t1: #9e72fa;
  --color-t2: #f629b5;
}
body {
  margin-bottom: 20px;
}
#content h1 {
  font-size: 2.28rem;
  line-height: 110%;
  margin: 1.52rem 0 .912rem 0;
}

@media screen and (max-width: 992px) {
  #content h1 {
    font-size: 1.9em;
  }
}

.button-row {
  display: flex;
  justify-content: space-between;
}
