<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="{{ static("icon.png") }}">

    <!-- materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- momentjs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

    <link rel="stylesheet" href="{{ static("style.css") }}">
    <script src="{{ static("app.js") }}"></script>

    <title>Sleep Log</title>
    {% block extracss %}
    {% endblock %}
  </head>
  <body>
    <nav class="light-blue lighten-1" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="{{ url("home") }}" class="brand-logo">Sleep Tracker</a>
        {% macro navlinks() %}
          <li><a href="{{ url("entries") }}">Entries</a></li>
          <li><a href="{{ url("events") }}">Events</a></li>
        {% endmacro %}
        <ul class="right hide-on-med-and-down">
          {{ navlinks() }}
        </ul>
        <ul id="nav-mobile" class="sidenav">
          {{ navlinks() }}
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      </div>
    </nav>

    <section class="section no-pad-bot" id="content">
      <div class="container">
        {% block content %}
        {% endblock %}
      </div>
    </section>

    {% block extrajs %}
    <script>
      var elems = document.querySelectorAll('.sidenav');
      var instances = M.Sidenav.init(elems, {});
    </script>
    {% endblock %}
  </body>
</html>
