{% extends "base.html" %}
{% block extracss %}
<style>
table, form {
  margin-bottom: 2em;
}
.collapsible {
  box-shadow: none;
  -webkit-box-shadow: none;
}
#chart {
  margin: 1em 0;
  height: 50px;
  border: 1px solid #ccc;
}
#chart .event {
  display: inline-block;
  height: 100%;
}
</style>
{% endblock %}
{% block content %}
<h1>{{ entry.date|date("LL") }}</h1>
<div id="chart"></div>
<table class="table">
  <tbody>
    <tr><th>Went to bed:</th><td>{{ entry.inBedTime|date("h:mm a") }}</td></tr>
    <tr><th>Lights out:</th><td>{{ entry.sleepStartTime|date("h:mm a") }}</td></tr>
    <tr><th>Fell asleep:</th><td>{{ entry.fallAsleepTime|date("h:mm a") }}</td></tr>
    <tr><th>First awaking:</th><td>{{ entry.firstAwakeningTime|date("h:mm a") }}</td></tr>
    <tr><th>Woke up:</th><td>{{ entry.wakeUpTime|date("h:mm a") }}</td></tr>
    <tr><th>Out of bed:</th><td>{{ entry.outOfBedTime|date("h:mm a") }}</td></tr>
    <tr><th>Time in bed:</th><td>{{ entry.timeInBed|duration }}</td></tr>
    <tr><th>Time asleep:</th><td>{{ entry.timeAsleep|duration }}</td></tr>
    <tr><th>Time awakened:</th><td>{{ entry.timeAwakened|duration }}</td></tr>
    <tr><th>Total awakenings:</th><td>{{ entry.numAwakenings }}</td></tr>
  </tbody>
</table>

<form method="post">
  <input type="hidden" name="action" value="delete">
  <button class="btn" type="submit">Delete</button>
</form>

{% endblock %}

{% block extrajs %}
{{ super() }}
<script>
  // build chart
  var events = {{ entry.serializedEvents|safe }};
  var totalTime = events[events.length-1].timestamp - events[0].timestamp;
  var chart = document.querySelector('#chart');
  for (var i=1; i<events.length; i++) {
    var event = events[i];
    var percent = ((event.timestamp - events[i-1].timestamp) / totalTime) * 100;
    var div = document.createElement('div');
    div.classList.add('event');
    div.classList.add('event-' + event.type.toLowerCase());
    div.dataset.timestamp = event.timestamp;
    div.dataset.type = event.type.toLowerCase().replace('_', '-');
    div.style.width = percent + '%';
    var timeStr = moment(new Date(event.timestamp)).format("h:mm a");
    var durationStr = 
    div.setAttribute('title', event.type.toLowerCase().replace('_', ' '));
    chart.appendChild(div);
  }
</script>
{% endblock %}
