{% extends "base.html" %}
{% block extracss %}
<style>
table, form {
  margin-bottom: 2em;
}
.collapsible {
  box-shadow: none;
  -webkit-box-shadow: none;
}
h1 {
  display: flex;
}
h1 .dayname {
  margin: 0 8px;
}
h1 .dayname span {
  white-space: nowrap;
}

@media screen and (max-width: 800px) {
  h1 .dayname {
    flex: 1;
    text-align: center;
  }
}

.chart-wrapper {
  margin: 1em 0;
  border: 1px solid #ccc;
  background: #eee;
  position: relative;
}
.tooltip {
  display: none;
  background: black;
  color: white;
  position: absolute;
  width: auto;
  left: 0;
  top: 0;
  white-space: nowrap;
  padding: 5px;
  border: 1px solid white;
}
#chart {
  --height: 50px;
  height: var(--height);
  display: flex;
}
#chart .event {
  margin: 2px;
  min-width: 10px;
  background: #eee;
}
#chart .event.event-in-bed {
  background: var(--color-a1);
}
#chart .event.event-sleep-start {
  background: var(--color-pr);
}
#chart .event.event-sleeping {
  background: var(--color-t1);
}
#chart .event.event-awake {
  background: var(--color-t2);
}
#chart .event.event-out-of-bed {
  background: var(--color-a2);
}


</style>
{% endblock %}
{% block content %}

<h1>
  <a href="{{ url("entry", {"date": prevDate|date("YYYY-MM-DD")}) }}">&lt;</a>
  <span class="dayname">
    <span>{{ date|date("dddd") }},</span>
    <span>{{ date|date("LL") }}</span>
  </span>
  <a href="{{ url("entry", {"date": nextDate|date("YYYY-MM-DD")}) }}">&gt;</a>
</h1>
{% if entry %}
  <div class="chart-wrapper">
    <div id="chart"></div>
  </div>
  <table class="table">
    <tbody>
      <tr><th>Time in bed:</th><td>{{ entry.timeInBed|duration }}</td></tr>
      <tr><th>Time asleep:</th><td>{{ entry.timeAsleep|duration }}</td></tr>
      <tr><th>Time awakened:</th><td>{{ entry.timeAwakened|duration }}</td></tr>
      <tr><th>Total awakenings:</th><td>{{ entry.numAwakenings }}</td></tr>
      <!--
      <tr><th>Went to bed:</th><td>{{ entry.inBedTime|date("h:mm a") }}</td></tr>
      <tr><th>Lights out:</th><td>{{ entry.sleepStartTime|date("h:mm a") }}</td></tr>
      <tr><th>Fell asleep:</th><td>{{ entry.fallAsleepTime|date("h:mm a") }}</td></tr>
      <tr><th>First awaking:</th><td>{{ entry.firstAwakeningTime|date("h:mm a") }}</td></tr>
      <tr><th>Woke up:</th><td>{{ entry.wakeUpTime|date("h:mm a") }}</td></tr>
      <tr><th>Out of bed:</th><td>{{ entry.outOfBedTime|date("h:mm a") }}</td></tr>
      -->
    </tbody>
  </table>

  <form method="post">
    <input type="hidden" name="action" value="delete">
    <button class="btn" type="submit">Delete</button>
  </form>

{% else %}

    <p>(no entry)</p>

{% endif %}
{% endblock %}

{% block extrajs %}
{{ super() }}
{% if entry %}
<script>
  // build chart
  console.log('building chart');
  var events = {{ entry.serializedEvents|safe }};
  var totalTime = events[events.length-1].timestamp - events[0].timestamp;
  var chart = document.querySelector('#chart');
  var sleepStartTime, wakeupTime;
  for (var i=0; i<events.length; i++) {
    var event = events[i];
    if (events[i+1]) {
      var duration = (events[i+1].timestamp - event.timestamp);
      var percent = (duration / totalTime) * 100;
    } else {
      var percent = 0;
    }

    if (event.type == 'SLEEP_START' && !sleepStartTime) sleepStartTime = event.timestamp;
    if (event.type == 'SLEEPING' && !sleepStartTime) sleepStartTime = event.timestamp;
    if (event.type == 'AWAKE') wakeUpTime = event.timestamp;

    var div = document.createElement('div');
    div.classList.add('event');
    div.classList.add('event-' + event.type.toLowerCase().replace(/_/g, '-'));
    div.dataset.timestamp = event.timestamp;
    div.dataset.type = event.type.toLowerCase().replace('_', '-');
    div.style.flexBasis = percent + '%';
    var timeStr = moment(new Date(event.timestamp)).format("h:mm a");
    var durationStr = duration ? App.formatDuration(duration) : '';
    var typeName = event.type.toLowerCase().replace('_', ' ');
    var label = timeStr + '\n' + typeName;
    if (durationStr) label += '\n(' + durationStr + ')';
    div.dataset.label = label;
    chart.appendChild(div);
  }

  //var timeTryingToSleep2 = {{entry.wakeUpTime}} - {{entry.sleepStartTime}};
  var timeTryingToSleep = wakeUpTime - sleepStartTime;
  var barWidth = (timeTryingToSleep / (8 * 60 * 60 * 1000)) * 100;
  chart.style.width = (barWidth > 100 ? 100 : barWidth) + '%';
  console.log('width: ', barWidth, chart.style.width);


  function hideToolTip() {
    document.querySelectorAll('.tooltip').forEach(function(el) {
      el.parentNode.removeChild(el);
    });
  }

  function showToolTip(eventEl, x, y) {
    hideToolTip();
    var tooltip = document.createElement('div');
    tooltip.setAttribute('id', 'tooltip_' + eventEl.dataset.timestamp);
    tooltip.classList.add('tooltip');
    tooltip.style.display = 'block';
    tooltip.style.left = x + 'px';
    tooltip.style.top = y + 'px';
    tooltip.textContent = eventEl.dataset.label;
    currentToolTip = tooltip;
    document.body.appendChild(tooltip);
  }

  document.body.addEventListener('mousemove', function(event) {
    el = document.elementFromPoint(event.clientX, event.clientY);
    if (el.dataset.label) {
      showToolTip(el, event.clientX, event.clientY - 40);
    } else {
      hideToolTip();
    }
  });

</script>
{% endif %}
{% endblock %}
