{% extends "base.html" %}
{% block extracss %}
{{ super() }}
<style>
#chart {
  max-width: 960px;
  margin: 20px auto;
}
.unlogged-events a {
  cursor: pointer;
}
.unlogged-events a:hover {
  text-decoration: underline;
}
</style>
{% endblock %}

{% block content %}
<canvas id="chart"></canvas>

{% if unloggedDays|length %}
<div class="row">
  <ul class="col l6 offset-l3 m8 offset-m2 s12 collection with-header unlogged-events">
    <li class="collection-header"><h5>Unlogged Nights</h5></li>
    {% for day in unloggedDays %}
    <li class="collection-item">
      {{ day.date|date("dddd,  MMMM D, YYYY") }}
      <a class="secondary-content" data-first-event="{{ day.firstEvent }}" data-last-event="{{ day.lastEvent }}">
        Create Entry
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}
<form method="post" action="{{ url("entries") }}" id="actionForm">
  <input type="hidden" name="action" value="createFromEvent">
  <input type="hidden" name="firstEvent">
  <input type="hidden" name="lastEvent">
</form>
{% endblock %}

{% block extrajs %}
{{ super() }}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
  var ENTRIES = {{ chartEntries|safe }};
  var data = {};
  data.labels = [];
  for (var i=0; i<ENTRIES.length; i++) {
    var entry = ENTRIES[i];
    data.labels.push(new Date(entry.date));
  }

  function hours(n) {
    return (n / 1000 / 60 / 60).toFixed(1);
  }
  
  data.datasets = [
    {
      label: 'Time asleep',
      backgroundColor: 'red',
      borderColor: 'red',
      fill: false,
      data: ENTRIES.map(function(entry) {return hours(entry.timeAsleep)})
    },
    {
      label: 'Time in bed',
      hidden: true,
      backgroundColor: 'green',
      borderColor: 'green',
      fill: false,
      data: ENTRIES.map(function(entry) {return hours(entry.timeInBed)})
    },
    {
      label: 'Time awakened',
      hidden: true,
      backgroundColor: 'blue',
      borderColor: 'blue',
      fill: false,
      data: ENTRIES.map(function(entry) {return hours(entry.timeAwakened)})
    },
    {
      label: '# Awakenings',
      hidden: true,
      backgroundColor: 'magenta',
      borderColor: 'magenta',
      fill: false,
      data: ENTRIES.map(function(entry) {return entry.numAwakenings})
    },
  ];

  var ctx = document.getElementById('chart').getContext('2d');
  var chart = new Chart(ctx, {
    type: 'line',
    data: data,
    options: {
      title: {
        text: 'Last two weeks'
      },
      tooltips: {
        mode: 'x',
        intersect: false,
        position: 'nearest',
        callbacks: {
          footer: function(tooltipItem, data) {
            var entry = ENTRIES[tooltipItem[0].index];
            return '\n' + entry.notes;
          }
        }
      },
      scales: {
        xAxes: [{
          type: 'time',
          time: {
            parser: 'MMM D',
            round: 'day',
            tooltipFormat: 'ddd, MMM D'
          },
          scaleLabel: {
            display: true,
            labelString: 'Date'
          }
        }],
        yAxes: [{
          scaleLabel: {
            display: true,
            labelString: 'Hours'
          }
        }]
      },
    }
  });
</script>

<script>
  document.querySelectorAll('.unlogged-events .collection-item a').forEach(function(event) {
    event.addEventListener('click', function() {
      var form = document.getElementById('actionForm');
      var firstEvent = form.querySelector('[name="firstEvent"]');
      var lastEvent = form.querySelector('[name="lastEvent"]');
      firstEvent.value = this.dataset.firstEvent;
      lastEvent.value = this.dataset.lastEvent;
      form.submit();
    });
  });
</script>
{% endblock %}
